body{
    background-color: #f7f7f7;
}

#first-container{
    
    margin: 10% 15%;
   
  
}
.div-1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;  
    text-align: left; 
}
.head-part{
    font-family: Arial, Helvetica, sans-serif;
   font-size: 55px;
   font-weight: 800; 
}
span{
    color: #0D6EFD;
}
.div-2{
    padding-right: 5%;
   
}